@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Welcome!</h1>
    <h2>I am Mili Vaidya 👩‍💻 pilot of the app 🤖<h2>
    <h3> 500237238 <h3>
    <p class="lead">This is .NET 🌐 Azure 💻</p>
</div>


