@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Welcome!</h1>
    <h2>I am Mili Vaidya 👩‍💻 pilot of the app 🤖<h2>
    <h3> 500237238 <h3>
    <p class="lead">This is .NET 🌐 Azure 💻</p>
    <p class="lead">Hi, I’m a tech enthusiast diving deep into the world of Cloud Computing!</p>
    <p class="lead">Currently studying and building hands-on skills in AWS, Azure, and a wide range of cloud-native tools</p>
</div>


